body {
    background-color: black; rgb(40, 40, 40);
    color: white;
}
a{
    text-decoration: none;
}
ul {
    list-style: style none;
}
.navbar-list{
list-style:none;/* esto quita la decoracion de la lista*/
padding:0;
margin:0;
display:flex;
}
.navbar-list li{
flex: 1;
text-align: center;
}
.navbar-list li a {
    display: block;
    padding: 10px 25px;
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-list a:hover {
    color:aqua
}
.img-responsive {
    width: 100%;
}

.quienes-somos {
    display: grid;
    grid-template-columns: auto auto;
}
.padding-lleft-30px {
    padding: left 30px;
}